<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Test</title>
</head>
<body>
    <button onclick="sendRequest()">Нажмите для выполнения теста</button>
    <div id="result"></div>

    <script>
        async function sendRequest() {
        const resultElement = document.getElementById("result");

        try {
            const response = await fetch("/process", { method: "POST" });
            const data = await response.json();

            if (response.ok) {
                resultElement.innerHTML = `<p style="color: green">${data.success}</p>`;
            } else {
                resultElement.innerHTML = `<p style="color: red">${data.error}</p>`;
            }
        } catch (error) {
            resultElement.innerHTML = `<p style="color: red">Ошибка при выполнении запроса: ${error.message}</p>`;
        }
    }
</script>
</body>
</html>